# Environments & Secrets
backend/.venv/
backend/venv/
backend/ENV/
backend/.env
backend/access_tokens.json
frontend/.env

# Node & Angular (Frontend specific)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/tmp/

# Python junk
backend/__pycache__/
backend/.mypy_cache/
.mypy_cache/
.pytest_cache/

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/

# Project Extras
mermaid-diagram.png